<tbody id="users-table">
{% for user in users %}
<tr class="{{ user }}">
    <th scope="row" id="num">{{ forloop.counter }}</th>
    <td>{{ user }}</td>
    <td class="{{ user }}-groups">
        {% for group in user.groups.all %}
        {{ group }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </td>
    <td>
        <button type="button" id="edit-btn" class="btn btn-outline-dark" data-toggle="modal" data-target="#edit-user" data-url="{% url 'update_user_url' %}" data-username="{{ user }}">Edit
        </button>
        <button type="button" id="delete-btn" class="btn btn-danger" data-toggle="modal" data-target="#delete-user" data-url="{% url 'delete_user_url' %}"
                data-username="{{ user }}">Delete</button>
    </td>
</tr>
{% endfor %}
</tbody>